@font-face {
    font-family: ppneuemontrealmono;
    src: url('../fonts/ppneuemontrealmono-book-webfont.ttf');
}


@font-face {
    font-family: t1korium;
    src: url('../fonts/t1korium-2kg.ttf');
}


@font-face {
    font-family: Satoshi-Variable;
    src: url('../fonts/Satoshi-Variable.ttf');
}

main {
    width: 100%;
    overflow: hidden;
    background: #e7e7e0;
}

.img-box {
    width: 0%;
    height: 100vh;
    background: url('../imges/shop.jpeg');
    background-size: cover;
    background-position: center;
}

.collection-part{
     background: url('../imges/collection.jpg');
    background-size: cover;
    background-position: center;
}