@font-face {
    font-family: ppneuemontrealmono;
    src: url('../fonts/ppneuemontrealmono-book-webfont.ttf');
}


@font-face {
    font-family: t1korium;
    src: url('../fonts/t1korium-2kg.ttf');
}


@font-face {
    font-family: Satoshi-Variable;
    src: url('../fonts/Satoshi-Variable.ttf');
}

main {
    width: 100%;
    overflow: hidden;
    background: #e7e7e0;
}